
#ui > #dialogue {
    display: flex;
    position: fixed;
    bottom: 0;
    color: red;
    height: auto;
    pointer-events: none;
    z-index: -1;
}

#ui > #dialogue > #dialogue-c {
    margin: auto;
    pointer-events: none;
    width: min(600px, var(--w));
}

#ui > #dialogue > #dialogue-c > #text {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(var(--blue-bg-2), blue);
    border: 5px outset darkblue;
    font-size: 2em;
    padding: 5px;
}

#ui > #dialogue > #dialogue-c > #footnote {
    color: white;
    background-color: black;
    font-size: 1em;
}

@media (max-width: 5.7in) {
    #ui > #dialogue {
        font-size: 0.4em;
        top: 30px;
        bottom: auto;
    }

    #ui > #dialogue > #dialogue-c {
        width: 70%;
        border: 3px solid darkblue;
    }

    #ui > #dialogue > #dialogue-c > #text {
        height: 80px;
    }
}

@media (min-width: 5.7in) and (max-width: 8in) {
    #ui > #dialogue {
        font-size: 0.6em;
    }

    #ui > #dialogue > #dialogue-c {
        width: 60%;
    }
}