
#ui > #dialogue {
    display: flex;
    position: fixed;
    bottom: 0;
    height: auto;
    pointer-events: none;
    z-index: -1;
    width: 100%;
}

#ui > #dialogue > #dialogue-c {
    margin: auto;
    pointer-events: none;
    width: min(600px, var(--w));
    border: 5px solid #222222;
    border-bottom: none;
}

#ui > #dialogue > #dialogue-c > #text {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(var(--blue-bg-2), black);
    font-size: 1.5rem;
    padding: 8px;
    color: whitesmoke;
}

#ui > #dialogue > #dialogue-c > #footnote {
    color: gray;
    background-color: black;
    font-size: 1em;
}

/* Mobile */
@media (max-width: 5.6in) {
    #ui > #dialogue {
        top: 30px;
        bottom: auto;
    }

    #ui > #dialogue > #dialogue-c {
        width: 90%;
    }

    #ui > #dialogue > #dialogue-c > #text {
        font-size: 0.7rem;
        height: 60px;
    }

    #ui > #dialogue > #dialogue-c > #footnote {
        font-size: 0.5rem;
    }
}

/* tablet */
@media (min-width: 5.6in) and (max-width: 8in) {
    #ui > #dialogue > #dialogue-c > #text {
        font-size: 1.2rem;
    }

    #ui > #dialogue > #dialogue-c {
        width: 60%;
    }

    #ui > #dialogue > #dialogue-c > #footnote {
        font-size: 0.5rem;
    }
}
/* 
#vec-div {
    display: grid;
    grid-template-areas: 
    "top-left top-right"
    "bottom-left bottom-right";

    position: absolute;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    top: 0;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: #222222;

    gap: 5px;
}

#vec-div > .vec-point {
    display: block;
    position: relative;
    border: 3px solid green;
    color: white;
    font-size: 1.2em;
} */