
#ui > #dialogue {
    display: flex;
    position: fixed;
    bottom: 0;
    height: auto;
    pointer-events: none;
    z-index: -1;
    width: 100%;
}

#ui > #dialogue > #dialogue-c {
    margin: auto;
    pointer-events: none;
    width: min(600px, var(--w));
    border: 5px solid #222222;
    border-bottom: none;
}

#ui > #dialogue > #dialogue-c > #text {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(var(--blue-bg-2), black);
    font-size: 1.5rem;
    padding: 8px;
    color: whitesmoke;
}

#ui > #dialogue > #dialogue-c > #footnote {
    color: gray;
    background-color: black;
    font-size: 1em;
}

/* Mobile */
@media (max-width: 5.6in) {
    #ui > #dialogue {
        top: 30px;
        bottom: auto;
    }

    #ui > #dialogue > #dialogue-c {
        width: 90%;
    }

    #ui > #dialogue > #dialogue-c > #text {
        font-size: 0.7rem;
        height: 60px;
    }

    #ui > #dialogue > #dialogue-c > #footnote {
        font-size: 0.5rem;
    }
}

/* tablet */
@media (min-width: 5.6in) and (max-width: 8in) {
    #ui > #dialogue > #dialogue-c > #text {
        font-size: 1.2rem;
    }

    #ui > #dialogue > #dialogue-c {
        width: 60%;
    }

    #ui > #dialogue > #dialogue-c > #footnote {
        font-size: 0.5rem;
    }
}